.container{
    margin-top:10em;
}

.header{
    font-family: monospace;
    font-size: 10em;
    text-align: center;
}

#description_text{
    font-family: monospace;
    text-align: center;
    font-size: 1.5em;
}

#profile_form_title{
    font-size: 4em;
}

.navbar-brand{
    font-family: monospace;
}

#section1{
    margin-top: 0px;
    padding-top:150px;
    height:500px;
    width:auto;
    color: #fff;
    background-color: deepskyblue;
    #1E88E5;
}

#section2{
    margin-top: 0px;
    height:500px;
    width:auto;
    color: #fff;
    background-color: #673ab7;
}